<a href="https://colab.research.google.com/github/redheadpanda/Machine-Learning/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Aayushi')
print('Aayushi' + 'Priya')
print(8)
print(8+3)

Aayushi
AayushiPriya
8
11

**Input functions**

In [ ]:
number_1 = int(input( ))
number_2 = int(input( ))

#number_1 = int(input("Enter the first number : "))
#number_2 = int(input("Enter the second number : "))

sum = number_1 + number_2
print(sum)

7
8
15

Basic Data Types:
1. Integer
2. Floating Point
3. complex
4. Boolean
5. String

In [ ]:
print(type(8))
print(type(5.3))
print(type("english"))

<class 'int'>
<class 'float'>
<class 'str'>

**To convert data type**

In [ ]:
x = 10 # this is int
y = float(x)
print(y)
type(y)

10.0

float

**Types of Objects in Python:**

1. Immutable Objects
2. Mutable Objects

Immutable Objects:

1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:

1. List
2. Set
3. Dictionary

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

my_list2 = [2, 1.8, 'English']
print(my_list2)

my_list2.append(5)
print(my_list2)

[1, 2, 3, 4, 5]
[2, 1.8, 'English']
[2, 1.8, 'English', 5]

1. Lists are mutable ( append)
2. List allows duplicate values
3. to delete an item in list -> del list_2[index]
4. to joint two list - list_1 + list_2
5. to get length of list - len(list_1)

In [ ]:
my_tuple = (2,3,4,5)
print(my_tuple)
type(my_tuple)


my_list2 = [2, 1.8, 'English']
my_tuple2 = tuple(my_list2)
print(my_tuple2)

(2, 3, 4, 5)
(2, 1.8, 'English')

1. Tuples are lists but immutable ones
2. List can be changed into tuple
3. no append in tuple

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

list_5 = [4,5,6,7,8]
x = set(list_5)
print(x)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

{'name': 'David', 'age': 30, 'country': 'India'}
David
30
India

**Dictionary and set don't allow duplicate values**

**operators in Python:**

1. Arithmetic Operators - - - - - - - -(+, -, *, /, **, %)
2. Assignment Operators - - - - - - - -(+=, -=, *=, /=, **=, %=)
3. Comparison Operators - - - - - - - -(==, !=, >, <, <=, >=)
4. Logical Operators - - - - - - - -(and, or, not)
5. Identity Operators - - - - - - - -(is, is not)
6. Membership Operators - - - - - - - -(in, not in)

In [ ]:
x = 5
y = 5

print(x is y)
print(x is not y)

a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)
print( a not in c)
print( b not in c)

True
False
True
False
False
True

**If-else statement**

In [ ]:
a = 15
b = 25
c = 30

if (b>c):
  print('a is the greatest number')
elif (a>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

**For Loop**

In [ ]:
for i in range(7):    # 0,1,2,3,4,5,6
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 6
Enter the price of the laptop : 2
Enter the price of the laptop : 34
Enter the price of the laptop : 5
Enter the price of the laptop : 1
Enter the price of the laptop : 2
Enter the price of the laptop : 3

**Functions**

In [ ]:
def factorial_value(num):
  factorial = 1

  if num == 0:
    return factorial
  else:
    for i in range(1,num+1):
      factorial = factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

120